[submodule "external/MacroPlacement"]
	path = external/MacroPlacement
	url = https://github.com/partcleda/MacroPlacement.git
	branch = fix-scientific-notation-parsing
[submodule "external/circuit_training"]
	path = external/circuit_training
	url = https://github.com/google-research/circuit_training.git
